* {
  font-family: 'Helvetica', sans-serif;
  color: #000000;
}
::selection {
  background: #fff;
  /* Safari */

  color: #000;
}
::-moz-selection {
  background: #fff;
  /* Firefox */

  color: #000;
}
.blocker {
  clear: both;
}
/*TODO, define font size stops in pixels for responsiveness*/
@media (min-width: 800px) {
  html {
    font-size: 18px;
  }
  .content {
    max-width: 640px;
  }
}
@media (max-width: 799px) {
  html {
    font-size: 12px;
  }
  .content {
    max-width: 400px;
  }
}
li {
  font-weight: lighter;
  font-size: 1rem;
  word-spacing: 0.3rem;
  line-height: 1.5rem;
}
span.more {
  border: 0px;
  border-bottom: 1px;
  border-style: dotted;
  cursor: pointer;
  cursor: hand;
}
img.story_small {
  width: 300px;
  /*padding-left: 1rem;*/

  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.story_medium {
  width: 100%;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #46b8ed;
}
.header {
  padding: 0.5rem;
  position: fixed;
  background: #fff;
  top: 0px;
  left: 0px;
  font-weight: bold;
  z-index: 10;
  opacity: 0.9;
  filter: alpha(opacity=90);
  /* For IE8 and earlier */

}
.footer {
  font-weight: lighter;
  font-size: 1rem;
  word-spacing: 0.3rem;
  line-height: 1.5rem;
  text-align: right;
  padding-top: 1rem;
}
/*TODO, define p.story max-width stops in pixels for responsiveness*/
.content {
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #46b8ed;
}
.homepage_story {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000;
}
.story_more {
  position: relative;
}
.story_intro {
  position: relative;
}
.story_more_hidden {
  visibility: hidden;
  height: 0px;
}
div.links {
  padding-top: 3rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000;
}
div.linkset {
  width: 50%;
  float: left;
}
li {
  background: #46b8ed;
  list-style-type: circle;
}
p.story {
  font-weight: lighter;
  color: #000;
  font-size: 1.2rem;
  word-spacing: 0.3rem;
  clear: left;
  line-height: 1.5rem;
  display: block;
  opacity: 0.9;
  padding: 1rem;
}
h1.story_title {
  white-space: nowrap;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: #fff;
  background-color: #000000;
}
h2.story_title {
  font-size: 2rem;
  margin: 0px;
  margin-bottom: 1.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: block;
  white-space: nowrap;
}
h3 {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0px;
  display: block;
  font-weight: lighter;
}
.more_button {
  font-weight: bold;
  color: #46b8ed;
  text-decoration: none;
  background: #61ff5e;
  /* Old browsers */

  background: -moz-linear-gradient(top, #61ff5e 0%, #02e002 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #61ff5e), color-stop(100%, #02e002));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #61ff5e 0%, #02e002 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #61ff5e 0%, #02e002 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #61ff5e 0%, #02e002 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #61ff5e 0%, #02e002 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61ff5e', endColorstr='#02e002', GradientType=0);
  /* IE6-9 */

}
.less_button {
  font-weight: bold;
  color: #46b8ed;
  text-decoration: none;
  background: url('/img/ui/minus_icon_small.gif'), #ff5e61;
  /* Old browsers */

  background: url('/img/ui/minus_icon_small.gif'), -moz-linear-gradient(top, #ff5e61 0%, #ff0206 100%);
  /* FF3.6+ */

  background: url('/img/ui/minus_icon_small.gif'), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff5e61), color-stop(100%, #ff0206));
  /* Chrome,Safari4+ */

  background: url('/img/ui/minus_icon_small.gif'), -webkit-linear-gradient(top, #ff5e61 0%, #ff0206 100%);
  /* Chrome10+,Safari5.1+ */

  background: url('/img/ui/minus_icon_small.gif'), -o-linear-gradient(top, #ff5e61 0%, #ff0206 100%);
  /* Opera 11.10+ */

  background: url('/img/ui/minus_icon_small.gif'), -ms-linear-gradient(top, #ff5e61 0%, #ff0206 100%);
  /* IE10+ */

  background: url('/img/ui/minus_icon_small.gif'), linear-gradient(to bottom, #ff5e61 0%, #ff0206 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5e61', endColorstr='#ff0206', GradientType=0);
  /* IE6-9 */

  display: none;
}
.sorry_ie {
  width: 400px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  padding: 8px;
}
/* 
mixins
*/
.show_hide_button {
  font-weight: bold;
  color: #46b8ed;
  text-decoration: none;
}
.green_gradient {
  background: #61ff5e;
  /* Old browsers */

  background: -moz-linear-gradient(top, #61ff5e 0%, #02e002 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #61ff5e), color-stop(100%, #02e002));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #61ff5e 0%, #02e002 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #61ff5e 0%, #02e002 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #61ff5e 0%, #02e002 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #61ff5e 0%, #02e002 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61ff5e', endColorstr='#02e002', GradientType=0);
  /* IE6-9 */

}
.green_gradient_plus {
  background: url('/img/ui/plus_icon_small.gif'), #61ff5e;
  /* Old browsers */

  background: url('/img/ui/plus_icon_small.gif'), -moz-linear-gradient(top, #61ff5e 0%, #02e002 100%);
  /* FF3.6+ */

  background: url('/img/ui/plus_icon_small.gif'), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #61ff5e), color-stop(100%, #02e002));
  /* Chrome,Safari4+ */

  background: url('/img/ui/plus_icon_small.gif'), -webkit-linear-gradient(top, #61ff5e 0%, #02e002 100%);
  /* Chrome10+,Safari5.1+ */

  background: url('/img/ui/plus_icon_small.gif'), -o-linear-gradient(top, #61ff5e 0%, #02e002 100%);
  /* Opera 11.10+ */

  background: url('/img/ui/plus_icon_small.gif'), -ms-linear-gradient(top, #61ff5e 0%, #02e002 100%);
  /* IE10+ */

  background: url('/img/ui/plus_icon_small.gif'), linear-gradient(to bottom, #61ff5e 0%, #02e002 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61ff5e', endColorstr='#02e002', GradientType=0);
  /* IE6-9 */

}
.red_gradient {
  background: url('/img/ui/minus_icon_small.gif'), #ff5e61;
  /* Old browsers */

  background: url('/img/ui/minus_icon_small.gif'), -moz-linear-gradient(top, #ff5e61 0%, #ff0206 100%);
  /* FF3.6+ */

  background: url('/img/ui/minus_icon_small.gif'), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff5e61), color-stop(100%, #ff0206));
  /* Chrome,Safari4+ */

  background: url('/img/ui/minus_icon_small.gif'), -webkit-linear-gradient(top, #ff5e61 0%, #ff0206 100%);
  /* Chrome10+,Safari5.1+ */

  background: url('/img/ui/minus_icon_small.gif'), -o-linear-gradient(top, #ff5e61 0%, #ff0206 100%);
  /* Opera 11.10+ */

  background: url('/img/ui/minus_icon_small.gif'), -ms-linear-gradient(top, #ff5e61 0%, #ff0206 100%);
  /* IE10+ */

  background: url('/img/ui/minus_icon_small.gif'), linear-gradient(to bottom, #ff5e61 0%, #ff0206 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5e61', endColorstr='#ff0206', GradientType=0);
  /* IE6-9 */

}
.pink_gradient {
  background: url('/img/ui/plus_icon_small.gif'), #ff5db1;
  /* Old browsers */

  background: url('/img/ui/plus_icon_small.gif'), -moz-linear-gradient(top, #ff5db1 0%, #ef017c 100%);
  /* FF3.6+ */

  background: url('/img/ui/plus_icon_small.gif'), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff5db1), color-stop(100%, #ef017c));
  /* Chrome,Safari4+ */

  background: url('/img/ui/plus_icon_small.gif'), -webkit-linear-gradient(top, #ff5db1 0%, #ef017c 100%);
  /* Chrome10+,Safari5.1+ */

  background: url('/img/ui/plus_icon_small.gif'), -o-linear-gradient(top, #ff5db1 0%, #ef017c 100%);
  /* Opera 11.10+ */

  background: url('/img/ui/plus_icon_small.gif'), -ms-linear-gradient(top, #ff5db1 0%, #ef017c 100%);
  /* IE10+ */

  background: url('/img/ui/plus_icon_small.gif'), linear-gradient(to bottom, #ff5db1 0%, #ef017c 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5db1', endColorstr='#ef017c', GradientType=0);
  /* IE6-9 */

}
.rainbow_gradient {
  background: #5bbc3f;
  /* Old browsers */

  background: -moz-linear-gradient(-45deg, #5bbc3f 0%, #ffb900 20%, #f88300 40%, #e43a39 60%, #983a98 80%, #009cde 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #5bbc3f), color-stop(20%, #ffb900), color-stop(40%, #f88300), color-stop(60%, #e43a39), color-stop(80%, #983a98), color-stop(100%, #009cde));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(-45deg, #5bbc3f 0%, #ffb900 20%, #f88300 40%, #e43a39 60%, #983a98 80%, #009cde 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(-45deg, #5bbc3f 0%, #ffb900 20%, #f88300 40%, #e43a39 60%, #983a98 80%, #009cde 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(-45deg, #5bbc3f 0%, #ffb900 20%, #f88300 40%, #e43a39 60%, #983a98 80%, #009cde 100%);
  /* IE10+ */

  background: linear-gradient(135deg, #5bbc3f 0%, #ffb900 20%, #f88300 40%, #e43a39 60%, #983a98 80%, #009cde 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bbc3f', endColorstr='#009cde', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}
.dark_blue_gradient {
  background: #1c2130;
  /* Old browsers */

  background: -moz-linear-gradient(top, #1c2130 0%, #3f4c6b 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c2130), color-stop(100%, #3f4c6b));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #1c2130 0%, #3f4c6b 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #1c2130 0%, #3f4c6b 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #1c2130 0%, #3f4c6b 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #1c2130 0%, #3f4c6b 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c2130', endColorstr='#3f4c6b', GradientType=0);
  /* IE6-9 */

}
.pattern_gradient {
  background-color: #556;
  background-image: linear-gradient(30deg, #444455 12%, transparent 12.5%, transparent 87%, #444455 87.5%, #444455), linear-gradient(150deg, #444455 12%, transparent 12.5%, transparent 87%, #444455 87.5%, #444455), linear-gradient(30deg, #444455 12%, transparent 12.5%, transparent 87%, #444455 87.5%, #444455), linear-gradient(150deg, #444455 12%, transparent 12.5%, transparent 87%, #444455 87.5%, #444455), linear-gradient(60deg, #9999aa 25%, transparent 25.5%, transparent 75%, #9999aa 75%, #9999aa), linear-gradient(60deg, #9999aa 25%, transparent 25.5%, transparent 75%, #9999aa 75%, #9999aa);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
