* {
  font-family: 'Helvetica', sans-serif;
  color: #000000;
}
::selection {
  background: #fff;
  /* Safari */

  color: #000;
}
::-moz-selection {
  background: #fff;
  /* Firefox */

  color: #000;
}
