@icon_colour:#AAA;
@page_background:#fff;
@main_highlight:#F00;
@font_colour:#333;
@dark_text:#000;

*{
	font-family: 'Helvetica', sans-serif;
	color: @font_colour;
}

::selection {
	background: #46b8ed; /* Safari */
	color: #fff;
	}
::-moz-selection {
	background: #46b8ed; /* Firefox */
	color: #fff;
}
.blocker{
	clear:both;
}

/*TODO, define font size stops in pixels for responsiveness*/

@media (min-width: 800px) {
    html {
        font-size: 18px;
    }
    .content{
    	max-width: 640px;
    }
}
@media (max-width: 799px) {
    html {
        font-size: 12px;
    }
    .content{
    	max-width: 400px;
    }
}

a{
	text-decoration:none;
	.bottom_border;
	border-style: solid;
	border-color: @font_colour;
}

a:hover{
	text-decoration:none;
	color: @main_highlight;
	.bottom_border;
	border-style: solid;
	border-color: @main_highlight;
}

li{
	font-weight: lighter;
	font-size: 0.9rem;
	word-spacing: 0.3rem;
	line-height: 1.5rem;
}

strong{
	color: @dark_text;
}

span.more {
	.bottom_border;
	border-style: dotted;
    cursor: pointer;
	cursor: hand;
}

img.story_small{
	width:300px;
	/*padding-left: 1rem;*/
	clear:both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.story_medium{
	width:100%;
	clear:both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body{
	background-color: @page_background;
}
.header{
	padding: 0.5rem;
	position: fixed;
	background: #fff;
	color: @dark_text;
	top:0px;
	left:0px;
	font-weight: bold;
	z-index: 10;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}
.footer{
	font-weight: lighter;
	font-size: 1rem;
	word-spacing: 0.3rem;
	line-height: 1.5rem;
	text-align: right;
	padding-top: 1rem;
}

.content{
	padding-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	background-color: @page_background;
}

.homepage_story{
	.bottom_border;  
	border-style: dotted;
}
.story_more{
	position: relative;

}
.story_intro{
	position: relative;

}

div.links{
	padding-top: 3rem;
	.bottom_border;
	border-style: dotted;
}
div.linkset{
	width:50%;
	float: left;
}

li{
	background: @page_background;
	list-style-type: circle;
}

p.story{
	.standard_text;
	color: #000;
}

h1.story_title{
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	color: #fff;
	background-color: @dark_text;
}

h2{
	font-size: 2rem;
	margin:0px;
	margin-bottom: 1.1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

h3{
	padding-left: 1rem;
	padding-right: 1rem;
	margin:0px;
	display: block;	
	font-weight: lighter;
}

.more_popup{
	position: fixed;
	width:20rem;
	background-color: @font_colour;
	color: @page_background;
	opacity: 0.8;
	z-index: 10;
}

.more_text{
	.standard_text;
	color: #FFF;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0;
	padding-bottom: 0;
}

.more_highlight{
	color: @main_highlight;
}

.instructions{
	.standard_text;
	padding-bottom: 0px;
	padding-top: 0px;
}


/* 
mixins
*/

.standard_text{
	font-weight: lighter;
	font-size: 1.2rem;
	word-spacing: 0.3rem;
	clear: left;
	line-height: 1.5rem;
	display: block;
	opacity:0.9;
	padding: 1rem;
}
.bottom_border{
	border:0px;
    border-bottom: 1px;
}