<!DOCTYPE html>
<html lang="en">
	<meta charset="UTF-8">
	<head>
		<link rel="stylesheet" type="text/css" href="/css/homepage.css" />
		<title>
			{{ title }} - Tom Pearson - Web Developer - London
		</title>
	</head>
	<body>		
		<div class="header"><a href="/">home</a> <a href="http://blog.pointlineplane.co.uk">blog</a> <a href="http://twitter.com/tomp">twitter</a> - tom.g.pearson@gmail.com</div>
		<div class="content" id="main_content">

{{ content }}

{{ links }}

			<div class="footer">&copy; Tom Pearson 2012</div>
		</div>
	</body>
	<script src='/js/vendor/zepto.min.js'></script>
	<script src='/js/homepage.js'></script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-21829691-1']);
		_gaq.push(['_setDomainName', 'pointlineplane.co.uk']);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</html>