<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/css/homepage.css" />
		<title>
			{{ title }} - Tom Pearson - Web Developer - London
		</title>
	</head>
	<body>		
		<div class="header"><a href="/">home</a> <a href="http://blog.pointlineplane.co.uk">blog</a> <a href="http://twitter.com/tomp">twitter</a> - tom.g.pearson@gmail.com</div>
		<div class="content" id="main_content">

{{ content }}

{{ links }}

			<div class="footer">&copy; Tom Pearson 2012</div>
		</div>
	</body>
	<script src='/js/vendor/zepto.min.js'></script>
	<script src='/js/homepage.js'></script>
</html>